body {
  margin: 0;
  padding: 0;

  text-align: center;
}
.modal {
  margin: 20px auto;
  border: 1px solid blueviolet;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
  /* display: none; */
}
