
div {

  /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
  content: '';

  /* display: inline-block; */
  /* By using an em scale, the arrows will size with the font */
  width: 15px;
  height: 15px;
  border-right: 3px solid rgb(7, 7, 7);
  border-top: 3px solid rgb(12, 12, 12);
  transform: rotate(45deg);
}

/* div::before {
  content: '';
} */

