body::before {
  display: block;
  content: '';
  width: 15px;
  height: 15px;
  border-right: 3px solid rgb(7, 7, 7);
  border-top: 3px solid rgb(12, 12, 12);
  transform: rotate(45deg);
}

body {
  width: 960px;
  height: 900px;
  background: linear-gradient(to top, yellow, rgb(214, 109, 109));
}

.cont {
  box-sizing: border-box;
  width: 400px;
  margin: 0 auto;
  margin-top: 200px;
  overflow: hidden;
  border: 1px solid #000;
  background: linear-gradient(to top, yellow, white);
  /* border: 5px solid rgb(245, 0, 0); */
}

ul {
  width: 900px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  transition: 0.9s;
}

li {
  display: inline-block;
}